<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-rafaelsangarcia/blob/main/Semana4/clase/Normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Normalization

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
inPath = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv'

In [ ]:
df = pd.read_csv(inPath, index_col = 0)
df.index.name = None
df

,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
3,33,F,1,Y,1,66.00,64.0,85,Y,1,0
4,39,F,1,N,0,64.00,63.0,87,Y,1,10
5,27,M,2,N,0,73.00,75.0,72,N,0,4
6,24,M,2,N,0,75.00,71.0,81,N,0,3
7,28,M,2,N,0,75.00,76.0,107,Y,1,10
8,22,F,1,N,0,65.00,62.0,98,Y,1,9
9,29,M,2,Y,1,74.00,73.0,106,N,0,5
10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
14,23,F,1,N,0,61.50,57.5,66,Y,1,4
15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
17,26,F,1,N,0,61.50,59.5,90,N,0,10
18,27,M,2,N,0,66.00,66.0,74,Y,1,5
19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
21,23,M,2,Y,1,69.00,67.0,66,N,0,2
22,29,M,2,N,0,71.00,70.0,101,Y,1,8
23,25,M,2,N,0,70.00,68.0,82,Y,1,4
24,26,M,2,N,0,69.00,71.0,63,Y,1,5
25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [ ]:
min(df.Score.to_list())

0

In [ ]:
varX = df.Score.head(10)
varX

1      7
2      8
3      0
4     10
5      4
6      3
7     10
8      9
9      5
10     8
Name: Score, dtype: int64

### 1. Normalization - rescales a dataset so that each value falls between 0 and 1.

Forumula: 

$$ x_i^{new} = \cfrac{x_i^{old} - x_{min}}{x_{max} - x_{min}}$$

In [ ]:
def normalize(x):
    min = np.min(x)
    max = np.max(x)
    range = max - min
    return [(a - min) / range for a in x]

In [ ]:
X = varX.copy()
normalizedValues = normalize(X)

print(normalizedValues)

[0.7, 0.8, 0.0, 1.0, 0.4, 0.3, 1.0, 0.9, 0.5, 0.8]

In [ ]:
print(min(normalizedValues))
print(max(normalizedValues))

0.0
1.0

### 1.1 Normalizing from [0, 1] to any other range

$$x_i^{new}=x_i^{old}\cdot\left(rango_{nuevo}\right)+ LimiteInferior_{nueva} $$

In [ ]:
def normalize(normalizedX, nLoBound, nUpBound):
    range = nUpBound - nLoBound

    return [a * range + nLoBound for a in normalizedX]

In [ ]:
normalizedX = normalizedValues
Y = normalize(normalizedX, 10, 20)

print(Y)

[17.0, 18.0, 10.0, 20.0, 14.0, 13.0, 20.0, 19.0, 15.0, 18.0]

### 1.2 Normalización de un rango a otro

$$x_i^{new}=\left(\frac{x_{i^{}}^{old}-\min\left(A\right)}{\max\left(A\right)-\min\left(A\right)}\right)\cdot\left(rango_{nuevo}\right)+LimiteInferior_{nueva}$$

In [ ]:
def normalize(X, nLoBound, nUpBound):
    min = np.min(X)
    max = np.max(X)
    range = max - min
    nRange = nUpBound - nLoBound

    return [((xi - min) / range) * nRange + nLoBound for xi in X]

In [ ]:
X = varX.copy()
Y = normalize(X, 100, 200)

print(Y)

[170.0, 180.0, 100.0, 200.0, 140.0, 130.0, 200.0, 190.0, 150.0, 180.0]

Podemos usar el siguiente código para aplicar una normalización min-max a cada columna en el DataFrame:

In [ ]:
ndf = df.copy()
ndf.head()

,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
3,33,F,1,Y,1,66.0,64.0,85,Y,1,0
4,39,F,1,N,0,64.0,63.0,87,Y,1,10
5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [ ]:
ndf.columns

Index(['Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup', 'Height',
       'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup', 'Score'],
      dtype='object')

In [ ]:
ndf.drop(['Gender', 'GenderGroup', 'Glasses', 'GlassesGroup', 'Complete'], 
         axis = 1, 
         inplace = True
        )
ndf

    Age  Height  Wingspan  CWDistance  CompleteGroup  Score
1    56   62.00      61.0          79              1      7
2    26   62.00      60.0          70              1      8
3    33   66.00      64.0          85              1      0
4    39   64.00      63.0          87              1     10
5    27   73.00      75.0          72              0      4
6    24   75.00      71.0          81              0      3
7    28   75.00      76.0         107              1     10
8    22   65.00      62.0          98              1      9
9    29   74.00      73.0         106              0      5
10   33   63.00      60.0          65              1      8
11   30   69.50      66.0          96              1      6
12   28   62.75      58.0          79              1     10
13   25   65.00      64.5          92              1      6
14   23   61.50      57.5          66              1      4
15   31   73.00      74.0          72              1      9
16   26   71.00      72.0         115              1      6
17   26   61.50      59.5          90              0     10
18   27   66.00      66.0          74              1      5
19   23   70.00      69.0          64              1      3
20   24   68.00      66.0          85              1      8
21   23   69.00      67.0          66              0      2
22   29   71.00      70.0         101              1      8
23   25   70.00      68.0          82              1      4
24   26   69.00      71.0          63              1      5
25   23   65.00      63.0          67              0      3

In [ ]:
(
    (ndf-ndf.min())/
    (ndf.max()-ndf.min()) 
).head()

        Age    Height  Wingspan  CWDistance  CompleteGroup  Score
1  1.000000  0.037037  0.189189    0.307692            1.0    0.7
2  0.117647  0.037037  0.135135    0.134615            1.0    0.8
3  0.323529  0.333333  0.351351    0.423077            1.0    0.0
4  0.500000  0.185185  0.297297    0.461538            1.0    1.0
5  0.147059  0.851852  0.945946    0.173077            0.0    0.4

### 1.3 Always there are alternatives....

In [ ]:
from sklearn import preprocessing
#from sklearn.preprocessing import MinMaxScaler

In [ ]:
X = df.Score.to_frame()

scaler = preprocessing.MinMaxScaler().fit(X)
#scaler

In [ ]:
scaler.fit_transform(X)

array([[0.7],
       [0.8],
       [0. ],
       [1. ],
       [0.4],
       [0.3],
       [1. ],
       [0.9],
       [0.5],
       [0.8],
       [0.6],
       [1. ],
       [0.6],
       [0.4],
       [0.9],
       [0.6],
       [1. ],
       [0.5],
       [0.3],
       [0.8],
       [0.2],
       [0.8],
       [0.4],
       [0.5],
       [0.3]])

### 2. Standardization - rescales a dataset to have a mean of 0 and a standard deviation of 1.

In [ ]:
X = varX.copy().to_frame()

In [ ]:
scaler = preprocessing.StandardScaler().fit(X)
scaler

StandardScaler()

In [ ]:
X_scaledA = scaler.transform(X)
X_scaledA = pd.DataFrame(X_scaledA)
X_scaledA

          0
0  0.191273
1  0.510061
2 -2.040245
3  1.147638
4 -0.765092
5 -1.083880
6  1.147638
7  0.828850
8 -0.446304
9  0.510061

In [ ]:
import scipy.stats as stats
X_scaledB = stats.zscore(X)
X_scaledB

       Score
1   0.191273
2   0.510061
3  -2.040245
4   1.147638
5  -0.765092
6  -1.083880
7   1.147638
8   0.828850
9  -0.446304
10  0.510061

In [ ]:
import statistics as sts

In [ ]:
sd = sts.pstdev(X.Score) #pstdev - Population standard deviaiton. 
sd

3.1368774282716245

In [ ]:
xm = X.Score.mean()
xm

6.4

In [ ]:
X_scaledC = (X-xm)/sd
X_scaledC

       Score
1   0.191273
2   0.510061
3  -2.040245
4   1.147638
5  -0.765092
6  -1.083880
7   1.147638
8   0.828850
9  -0.446304
10  0.510061

Scaled data has zero mean and unit variance: