<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-rafaelsangarcia/blob/main/PythonIBM_A01182780.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON FOR DATA SCIENCE (IBM)
STUDENT: A01182780 RAFAEL SANCHEZ GARCIA

#Module 1

In [ ]:
print("Hello Python 101") #print something

Hello Python 101

In [ ]:
#Question 1
print("Hello\nWorld!") # with \n jump to a new line

Hello
World!

In [ ]:
#Question 2
# print('Hello World!')

#Module 1 - Types

In [ ]:
#Question 2
bool(1)

True

#Moduel 1 - Expressions and Variables

 with "//" the division will be by integer, and with one "/" is float

In [ ]:
# I already know how to use variables and expressions

#Module 1 - String Operators

You can use single or double quotes. string can be access by index, it is works as a array too

In [ ]:
Name= "Michael Jackson"
print(Name)
print("Name[0] = " ,Name[0])
print("Name[0] = " ,Name[6])
print("Name[0] = " ,Name[13])

Michael Jackson
Name[0] =  M
Name[0] =  l
Name[0] =  o

In [ ]:
#index could be also negative
print("Name[0] = " ,Name[-15])
print("Name[0] = " ,Name[-7])
print("Name[0] = " ,Name[-1])

Name[0] =  M
Name[0] =  J
Name[0] =  n

In [ ]:
#slicing
Name[0:4]

'Mich'

In [ ]:
#stride
Name[::2] #it will select every second variable

'McalJcsn'

In [ ]:
#stride with slicing
Name[0:5:2] # 0 index is start, 5 index is finish, 2 steps

'Mca'

In [ ]:
#Question 1
Numbers = "0123456"
Numbers[::2] #get the even elements

'0246'

In [ ]:
#Question 2
"0123456".find('1') #it is 1 because the '1' is on index 1

1

#Module 1 - Review Questions

In [ ]:
3 + 2 * 2

7

In [ ]:
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
var = '01234567'
print(var[::2])

0246

In [ ]:
'1'+'2'

'12'

In [ ]:
myvar = 'hello'
myvar.upper()

'HELLO'

#Module 2 - List and Tuples

**Tuples** are an ordered sequence, this are written as comma-separated elements within parentesis.

Tuple can hold any data type, however the type of tuple is tuple. It can be accessed via index

**Tuple are Immutable, that is means it can not be changed**

In [ ]:
Ratings=(10,9,6,5,10,8,9,6,2)
Tuple1 = ("disco",10,1.2) #strig, int, float
print(Tuple1[0]) # accessed by index
Tuple2 = Tuple1 + ("hard rock",10)

disco

In [ ]:
#Slicing tuple
Tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
#Nesting, is having tuple inside tuple
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
print(NT[2])
print(NT[2][1])
print(NT[2][1][0]) #it is like a tree

('pop', 'rock')
rock
r

**List** It is represent with [ ] square brackets, the difference between tupple is ().
The list is mutable, that is means we can change values.
It can include different types of values. Can be accessed by index, similar as tuples

In [ ]:
L = ['Michael Jackson', 10.1, 1982]
print(L)
L.extend(["pop",10]) #with extend we concatenate at the end the new list
print(L)

['Michael Jackson', 10.1, 1982]
['Michael Jackson', 10.1, 1982, 'pop', 10]

In [ ]:
L = ['Michael Jackson', 10.1, 1982]
print(L)
L.append(["pop",10]) #with add the new list as an element
print(L)

['Michael Jackson', 10.1, 1982]
['Michael Jackson', 10.1, 1982, ['pop', 10]]

In [ ]:
A=['disco',10,1.2]
print(A)
A[0] = "hard rock"
print(A)

['disco', 10, 1.2]
['hard rock', 10, 1.2]

In [ ]:
#Question 1
A=(0,1,2,3)
#A[3] and A[-1]

In [ ]:
#Question 2
B=["a","b","c"]
B[1:]

['b', 'c']

#Module 2 - Sets
The difference with list and tuples is that sets are unordered. <br>
**Sets only have unique elements** <br>
To define with need {}

In [ ]:
#creating a set
album_list = ['Michael Jackson','Thriller','Thriller',1982]
print(album_list)
album_set = set(album_list)
print(album_set)
#We can see that set just have unique values, we can use this as distinct

['Michael Jackson', 'Thriller', 'Thriller', 1982]
{'Michael Jackson', 'Thriller', 1982}

In [ ]:
A={'Thriller','Black in Black', "AC/DC"}
print(A)
A.add("NSYNC")
print(A)
A.add("NSYNC") #it doesnt add becuase it is already in the set
print(A)
A.remove("NSYNC")
print(A)

{'AC/DC', 'Thriller', 'Black in Black'}
{'NSYNC', 'AC/DC', 'Thriller', 'Black in Black'}
{'NSYNC', 'AC/DC', 'Thriller', 'Black in Black'}
{'AC/DC', 'Thriller', 'Black in Black'}

In [ ]:
"AC/DC" in A #to check if "AC/DC" exist in the set A

True

In [ ]:
album_set_1 = {'AC/DC', 'Black in Black', 'Thriller'}
album_set_2 = {'AC/DC', 'Black in Black', 'The Dark Side of the Moon'}
album_set_3 = album_set_1 & album_set_2
print(album_set_3) # it is just show the interesections

{'AC/DC', 'Black in Black'}

In [ ]:
album_set_1.union(album_set_2)

{'AC/DC', 'Black in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
#Question 1
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
#Question 2
S={'A','B','C'}
U={'A','Z','C'}
S & U

{'A', 'C'}

#Module 2 - Dictionaries <br>
It has Keys and Elements/Values <br>
**Keys** is an index by label most of the time are characters<br>
To create dictionaries we use {}<br>
The keys have to be **inmutable and unique**<br>
The values can be **inmutable, mutable and duplicates**<br>
Each key and value pair is separate by a comma
{**"key1"**:1,**"key2"**:"2",**"key3"**:[3,3,3].....}

In [ ]:
#Question 1
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [ ]:
#Question 2
D = {'a':0,'b':1,'c':2}
D['b']

1

#Module 2 - Review Questions

In [ ]:
#Question 1
A = ('a','b','c')
A[0]

'a'

In [ ]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

#Module 3 - Conditions and Branching
Comparison operator
**== <,>,<=,>=,!=** <br>
Branching are if statements

In [ ]:
#sintaxis if else
Age = 17
if(Age>18):
  print("you can enter")
else:
  print("go see meat loaf")
print("move on")

go see meat loaf
move on

In [ ]:
#Question 1
i = 1 #-1,1000
i!=0

True

#Module 3 - loops

In [ ]:
range(10,15) #for python2, on python 3 we need loops

range(10, 15)

In [ ]:
squares=["red","yellow","green","purple","blue"]
print(squares)
for i in range(0,5):
    squares[i]="white"

print (squares)

['red', 'yellow', 'green', 'purple', 'blue']
['white', 'white', 'white', 'white', 'white']

In [ ]:
A=[3,4,5]

for a in A:
  print(a)

3
4
5

In [ ]:
x=3
y=1
while(y!=x):
  print(y)
  y=y+1

1
2

#Module 3 - Functions
Just focus on what the function do, not on how do

In [ ]:
def add1(a):
  b=a+1
  return b

add1(5)

6

#Module 3 - Objects and Clases

Object has a type<br>
**CLASS** it has data attributes and methods

In [ ]:
#init is the constructor
class Circle(object):
  def __init__(self,radius,color):
    self.radius = radius;
    self.color = color;

class Rectangle(object):
  def __init__(self,color,height,width):
    self.height=height;
    self.width=width;
    self.color=color;

In [ ]:
RedCircle = Circle(10,"red")
RedCircle.color
RedCircle.color="blue"
RedCircle.color
BlueCircle = Circle(color="BLUE",radius=14)
BlueCircle.color

'BLUE'

#Module 3 - Review Questions

In [ ]:
#Question 1,2,3,4,5
#I dont need coding, do it in the webpage

# Module 4 - Working with Data in Python

File1 = open("/resources/data/Example2.txt","w") <br> if is w is for write <br>
File1.name - give the name<br>
File1.mode -  give w, r for writing or read<br>
File1.close()<br>

For writing we need to put **file1.write("text to write")**,<br>


It is recommend to use **with**, because automatically close the file
<br>
fil1.readline() for read each line. if we put inside a number is to read number of characters

#Module 4 - Lab Reading files notes

In [ ]:
#We need to include this to use the lab example 
#Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

# Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

In [ ]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")
file1.name #we are getting the name

'Example1.txt'

In [ ]:
#to see in wich mode we are on the file, could be r, w, or a
file1.mode

'r'

In [ ]:
#to read the content of the file
FileContent = file1.read()
print(FileContent)
file1.close()
print(file1.closed)

This is line 1
This is line 2
This is line 3
True

In [ ]:
#the recommendation is use with as above I explained, here is the example:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)
print(file1.closed) # it is important to put print wiht no indent, to put out the with statement

This is line 1
This is line 2
This is line 3
True

In [ ]:
#To itereato, we can use loops like the for loop
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

#Module 4  - Lab write files notes

In [ ]:
#We can create a new file, and write into it

exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
#to read the file recent created
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

**We can see that the line that we write before it is the line that we read it.**

In [ ]:
#To write but using list
#first we create the list
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
#then we write in to the file
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
#test if the previous command worked
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

**It is important to see here that we are getting the data from lines which is a list**

In [ ]:
#important to know
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

**using this command actually we are overwriting**

In [ ]:
#If we can to continue writing what we can do is an append
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [ ]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

**this is the probe that with append we can write at the end of the file**

**It is not a good practice to open and close the files, to first read, then write, etc. That is why we can use**

*   r+
*   w+
*   a+

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell())) #with .tell() we can knkow the current position in bytes()
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning. changes the position by 'offset' bytes with respect to 'from'. From can take the value of 0,1,2 corresponding to beginning, relative to current position and end
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 55
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E

Location after read: 55

# Module 4 - Loading data with pandas

In [ ]:
import pandas as pd
csv_path='/content/sample_data/Standard Videos.csv'
df=pd.read_csv(csv_path)

df.head() # to see the first 5 rows of the data

,ID,Site,Dept.Type,Job Title,Video Link,Created By,Created,Modified By,Modified
0,1,Carrollton,DAPEC,PACKER,https://web.microsoftstream.com/video/2c5c33f7...,"Barraza, Luis",7/5/2021 10:47 PM,"Barraza, Luis",7/19/2021 11:34 PM
1,7,ARCADIA,LIVE RECEIVING,HANGER - LIVE,https://web.microsoftstream.com/video/fcbf2847...,"Barraza, Luis",9/6/2021 12:21 PM,"Barraza, Luis",9/6/2021 12:21 PM
2,8,ARCADIA,CHILLER REHANG,REHANGER - CHILLER,https://web.microsoftstream.com/video/8e061752...,"Barraza, Luis",9/6/2021 12:23 PM,"Barraza, Luis",9/6/2021 12:23 PM
3,9,ARCADIA,LIVE RECEIVING,OPERATOR - DRAWER,https://web.microsoftstream.com/video/b5f0261a...,"Barraza, Luis",9/6/2021 12:38 PM,"Barraza, Luis",9/6/2021 5:21 PM
4,10,ARCADIA,CHILLER REHANG,OPERATOR - SAW,https://web.microsoftstream.com/video/f29bd804...,"Barraza, Luis",9/6/2021 12:50 PM,"Barraza, Luis",9/6/2021 12:50 PM

In [ ]:
#we can create a datafram out of the dictionary. A dataframe has columns and rows
songs = {'Album': ['Thriller back','back in black'], 'Released': [1982,1980], 'Length': ['00:42:19','00:42:11']} 
songs_frame = pd.DataFrame(songs) # take the dictionay inside pd.DataFrame(##)
songs_frame.head()

           Album  Released    Length
0  Thriller back      1982  00:42:19
1  back in black      1980  00:42:11

In [ ]:
#we can create new data frame from a previous data frame, it is important to use [[]] double
x = songs_frame[['Length']]
x.head()

     Length
0  00:42:19
1  00:42:11

In [ ]:
# we can include multiple columns
y = songs_frame[['Album','Length']]
y.head()

           Album    Length
0  Thriller back  00:42:19
1  back in black  00:42:11

In [ ]:
#to access to an element you can use the iloc, ix is deprecated
songs_frame.iloc[0,0]
songs_frame.loc[0,'Album'] #with strings

'Thriller back'

In [ ]:
#question 1
#find the second row and first column
df.iloc[1,0]

7

In [ ]:
#question2.
#answered in the quiz

#Module 4 - Working with and savings data with pandas
with unique method you can distinct the values<br>

In [ ]:
df['Site'].unique()

array(['Carrollton', 'ARCADIA', 'SUMTER', 'ENTERPRISE', 'MARSHVILLE',
       'BROADWAY', 'NATCHITOCHES', 'MOOREFIELD', 'ELLIJAY', 'LIVE OAK'],
      dtype=object)

In [ ]:
df1=df[df['ID']<15] #the inside gives you trues and false, and with the second just assigned the trues
df1

,ID,Site,Dept.Type,Job Title,Video Link,Created By,Created,Modified By,Modified
0,1,Carrollton,DAPEC,PACKER,https://web.microsoftstream.com/video/2c5c33f7...,"Barraza, Luis",7/5/2021 10:47 PM,"Barraza, Luis",7/19/2021 11:34 PM
1,7,ARCADIA,LIVE RECEIVING,HANGER - LIVE,https://web.microsoftstream.com/video/fcbf2847...,"Barraza, Luis",9/6/2021 12:21 PM,"Barraza, Luis",9/6/2021 12:21 PM
2,8,ARCADIA,CHILLER REHANG,REHANGER - CHILLER,https://web.microsoftstream.com/video/8e061752...,"Barraza, Luis",9/6/2021 12:23 PM,"Barraza, Luis",9/6/2021 12:23 PM
3,9,ARCADIA,LIVE RECEIVING,OPERATOR - DRAWER,https://web.microsoftstream.com/video/b5f0261a...,"Barraza, Luis",9/6/2021 12:38 PM,"Barraza, Luis",9/6/2021 5:21 PM
4,10,ARCADIA,CHILLER REHANG,OPERATOR - SAW,https://web.microsoftstream.com/video/f29bd804...,"Barraza, Luis",9/6/2021 12:50 PM,"Barraza, Luis",9/6/2021 12:50 PM
5,12,SUMTER,LIVE RECEIVING,HANGER - LIVE,https://web.microsoftstream.com/video/3ed02be0...,"Barraza, Luis",9/7/2021 11:15 AM,"Barraza, Luis",9/7/2021 11:15 AM
6,13,SUMTER,EVISCERATION,HELPER - INSPECTOR,https://web.microsoftstream.com/video/1e8ff58f...,"Barraza, Luis",9/7/2021 11:16 AM,"Barraza, Luis",9/7/2021 11:16 AM

In [ ]:
df1.to_csv('Items ID less 15') #to export the data frame to a csv

In [ ]:
#question1
import pandas as pd
df=pd.DataFrame({'a': [1,2,1], 'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
#Module 4. Review questions
with open('Standard Videos.csv','r') as file1:
  FileContent = file1.readlines()
  print(FileContent)

['ID,Site,Dept.Type,Job Title,Video Link,Created By,Created,Modified By,Modified\n', '"1","Carrollton","DAPEC","PACKER","https://web.microsoftstream.com/video/2c5c33f7-a480-4881-b1b8-ebdef3c64644","Barraza, Luis","7/5/2021 10:47 PM","Barraza, Luis","7/19/2021 11:34 PM"\n', '"7","ARCADIA","LIVE RECEIVING","HANGER - LIVE","https://web.microsoftstream.com/video/fcbf2847-0261-462a-a59b-2d7b29203234?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","9/6/2021 12:21 PM","Barraza, Luis","9/6/2021 12:21 PM"\n', '"8","ARCADIA","CHILLER REHANG","REHANGER - CHILLER","https://web.microsoftstream.com/video/8e061752-cf34-4a11-8f4a-68fd813ad631?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","9/6/2021 12:23 PM","Barraza, Luis","9/6/2021 12:23 PM"\n', '"9","ARCADIA","LIVE RECEIVING","OPERATOR - DRAWER","https://web.microsoftstream.com/video/b5f0261a-eef7-4dda-bc52-a25e6c247606?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","9/6/2021 12:38 PM","Barraza, Luis","9/6/2021 5:21 PM"\n', '"10","ARCADIA","CHILLER REHANG","OPERATOR - SAW","https://web.microsoftstream.com/video/f29bd804-18eb-4fc7-9f91-d7ac6045f3ae?list=studio","Barraza, Luis","9/6/2021 12:50 PM","Barraza, Luis","9/6/2021 12:50 PM"\n', '"12","SUMTER","LIVE RECEIVING","HANGER - LIVE","https://web.microsoftstream.com/video/3ed02be0-b235-46b7-9c6d-dddb42572091?channelId=53c00208-0a28-4c87-9070-84b8c3776d52","Barraza, Luis","9/7/2021 11:15 AM","Barraza, Luis","9/7/2021 11:15 AM"\n', '"13","SUMTER","EVISCERATION","HELPER - INSPECTOR","https://web.microsoftstream.com/video/1e8ff58f-603d-4658-8de7-e5dfd64f83c0?channelId=53c00208-0a28-4c87-9070-84b8c3776d52","Barraza, Luis","9/7/2021 11:16 AM","Barraza, Luis","9/7/2021 11:16 AM"\n', '"15","ENTERPRISE","DELI WOG","LOADER - LINE","https://web.microsoftstream.com/video/770e041d-9062-4ecf-a9f9-47152b34bfaf?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","11/24/2021 9:06 AM","Barraza, Luis","11/24/2021 9:06 AM"\n', '"16","ENTERPRISE","DELI WOG","STACKER","https://web.microsoftstream.com/video/a5683730-a80a-4d59-8b10-2343c3587463?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","11/24/2021 9:13 AM","Barraza, Luis","11/24/2021 9:13 AM"\n', '"17","ENTERPRISE","DELI WOG","TUCKER - WING","https://web.microsoftstream.com/video/b98bba2e-5d8b-4ef0-902b-ee19c6a47173?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","11/29/2021 11:50 AM","Barraza, Luis","11/29/2021 11:50 AM"\n', '"18","ENTERPRISE","DELI WOG","SIZER OPERATOR","https://web.microsoftstream.com/video/303fec5b-2398-4af1-adda-d90769ed7c0b?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","11/29/2021 11:51 AM","Barraza, Luis","11/29/2021 11:51 AM"\n', '"20","MARSHVILLE","THIGH DEBONE","TRIMMER - THIGH","https://web.microsoftstream.com/video/5cee8a65-fb2f-4c14-8385-c74c54db729a?list=studio","Kuller, Stephen","2/3/2022 12:03 PM","Kuller, Stephen","2/3/2022 12:03 PM"\n', '"21","BROADWAY","MARINATION","OPERATOR-CVP","https://web.microsoftstream.com/video/5e3f6e78-979b-4826-9604-3126386b7a1a?list=studio","Kuller, Stephen","2/4/2022 6:58 AM","Kuller, Stephen","2/4/2022 6:58 AM"\n', '"22","NATCHITOCHES","DELI WOG","TRUSSER","https://web.microsoftstream.com/video/a0a9c7f7-9de9-4d8c-ba2a-d8e05bc23fba?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Diaz Flores Granados, Jaime","2/4/2022 10:55 AM","Diaz Flores Granados, Jaime","2/4/2022 10:55 AM"\n', '"23","NATCHITOCHES","DELI WOG","LOADER - CONE","https://web.microsoftstream.com/video/7b861b73-57bb-4217-8f0d-8cad7c5bc09c?list=studio","Diaz Flores Granados, Jaime","2/4/2022 11:39 AM","Diaz Flores Granados, Jaime","2/4/2022 11:39 AM"\n', '"24","NATCHITOCHES","DELI WOG","OPERATOR - CVP","https://web.microsoftstream.com/video/8de15582-449c-435d-a5ff-a844bcb243af?list=studio","Diaz Flores Granados, Jaime","2/4/2022 11:51 AM","Diaz Flores Granados, Jaime","2/4/2022 11:51 AM"\n', '"26","ARCADIA","DAPEC","PACKER","https://web.microsoftstream.com/video/4df68bad-bcbc-410d-9592-1e4516086da5?list=studio","Barraza, Luis","2/21/2022 12:52 PM","Barraza, Luis","2/21/2022 12:52 PM"\n', '"27","MOOREFIELD","DAPEC","PACKER","https://web.microsoftstream.com/video/0f16b23c-e269-49e6-a73f-8e41ecbaba25?list=studio","Diaz Flores Granados, Jaime","2/21/2022 12:54 PM","Diaz Flores Granados, Jaime","2/21/2022 12:54 PM"\n', '"28","NATCHITOCHES","DAPEC","PACKER","https://web.microsoftstream.com/video/263edc8f-8d02-4d93-ba33-a3aac2e50a50?list=studio","Diaz Flores Granados, Jaime","2/21/2022 1:18 PM","Diaz Flores Granados, Jaime","2/21/2022 1:18 PM"\n', '"29","ARCADIA","LIVE RECEIVING","OPERATOR - FORKLIFT","https://web.microsoftstream.com/video/6ef64e79-75f6-4ade-ab4b-76388b5b4df3?list=studio","Diaz Flores Granados, Jaime","2/24/2022 9:41 AM","Diaz Flores Granados, Jaime","2/24/2022 9:41 AM"\n', '"30","ARCADIA","RUB BIRDS","OPERATOR - BAND SEALER","https://web.microsoftstream.com/video/f1225497-21a0-4eea-b48d-28311f94a286?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:12 AM","Diaz Flores Granados, Jaime","2/24/2022 10:12 AM"\n', '"31","ARCADIA","RUB BIRDS","OPERATOR - BAGGER (INNER)","https://web.microsoftstream.com/video/b1225cb1-dfed-42c8-ad60-091e2e2db839?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:15 AM","Diaz Flores Granados, Jaime","2/24/2022 10:15 AM"\n', '"32","ARCADIA","RUB BIRDS","OPERATOR - BAGGER (OUTER)","https://web.microsoftstream.com/video/4899870a-af78-4600-aee2-17ccbb025066?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:21 AM","Diaz Flores Granados, Jaime","2/24/2022 10:21 AM"\n', '"33","ARCADIA","RUB BIRDS","OPERATOR - TIPER TIE","https://web.microsoftstream.com/video/629eb3c8-d2b9-463a-8706-12b6eb6287bc?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:33 AM","Diaz Flores Granados, Jaime","2/24/2022 10:33 AM"\n', '"34","ARCADIA","CORR VAC","OPERATOR - CVP","https://web.microsoftstream.com/video/6fa6a314-12f1-4e33-b69c-af221c3005e0?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:47 AM","Diaz Flores Granados, Jaime","2/24/2022 10:47 AM"\n', '"35","ARCADIA","DAPEC","OPERATOR - SCALE","https://web.microsoftstream.com/video/6fa6a314-12f1-4e33-b69c-af221c3005e0?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:48 AM","Diaz Flores Granados, Jaime","2/24/2022 10:48 AM"\n', '"36","ENTERPRISE","DAPEC","PACKER","https://web.microsoftstream.com/video/c3714123-39b4-4c1e-bce3-a8ba7c6b5a05?list=studio","Diaz Flores Granados, Jaime","3/2/2022 3:17 PM","Diaz Flores Granados, Jaime","3/2/2022 3:17 PM"\n', '"37","ARCADIA","DAPEC","REHANG - DAPEC","https://web.microsoftstream.com/video/b9915283-f9cf-463e-bbff-70d651af7e81?list=studio","Diaz Flores Granados, Jaime","3/7/2022 3:34 PM","Diaz Flores Granados, Jaime","3/7/2022 3:34 PM"\n', '"39","ELLIJAY","DAPEC","PACKER","https://web.microsoftstream.com/video/7f273aaf-35d0-4b88-8c16-2894e61e4633","Cruz Gonzalez, Isaac","3/18/2022 12:44 PM","Cruz Gonzalez, Isaac","3/18/2022 12:44 PM"\n', '"40","LIVE OAK","DEBONE PACKOUT","PACKER - TENDER","https://web.microsoftstream.com/video/aa2f14f9-54eb-4abc-8d18-376a61b0dce7\n', '\n', 'https://web.microsoftstream.com/video/c52dbd66-7cc1-47f5-b501-ad0d132f37a8","Santiago Rosas, Ramiro","3/21/2022 11:26 AM","Santiago Rosas, Ramiro","3/21/2022 11:51 AM"\n', '"41","LIVE OAK","DEBONE PACKOUT","PACKER - BREAST","https://web.microsoftstream.com/video/bc05eb10-6428-4c28-acb6-b4f1108eed8c","Santiago Rosas, Ramiro","3/21/2022 11:58 AM","Santiago Rosas, Ramiro","3/21/2022 11:58 AM"\n', '"42","LIVE OAK","DEBONE PACKOUT","LOADER - WINGS","https://web.microsoftstream.com/video/89a90793-2726-4f9c-b07a-72dc23b6cd96","Santiago Rosas, Ramiro","3/21/2022 12:55 PM","Santiago Rosas, Ramiro","3/21/2022 12:55 PM"\n', '"43","LIVE OAK","DEBONE PACKOUT","PACKER","https://web.microsoftstream.com/video/2da61c04-ba2a-43c4-96db-02f0c3167d32","Santiago Rosas, Ramiro","3/21/2022 12:56 PM","Santiago Rosas, Ramiro","3/21/2022 12:56 PM"\n', '"44","LIVE OAK","DEBONE PACKOUT","PACKER - WINGS","https://web.microsoftstream.com/video/a339cff4-1cc1-4b50-818e-7ff3a2397f2b","Santiago Rosas, Ramiro","3/21/2022 12:57 PM","Santiago Rosas, Ramiro","3/21/2022 12:57 PM"\n', '"45","LIVE OAK","DEBONE","TRIMMER - BREAST","https://web.microsoftstream.com/video/3f2ef0e2-b8ee-43dc-8f9b-f2e4f7c078b4","Santiago Rosas, Ramiro","4/29/2022 7:51 AM","Santiago Rosas, Ramiro","4/29/2022 7:55 AM"\n', '"46","LIVE OAK","DEBONE","LOADER","https://web.microsoftstream.com/video/3ed83328-4254-43a2-8129-a34e0d0a50e3","Santiago Rosas, Ramiro","4/29/2022 8:26 AM","Santiago Rosas, Ramiro","4/29/2022 8:26 AM"\n']

#Module 4 - Lab Intruduccion to Pandas in Python

In [ ]:
#Donwload files to work the lab from a share folder

from google.colab import drive
drive.mount('/content/drive')

filenamepath = "/content/drive/Shareddrives/IBM Labs shared/Modulo4/TopSellingAlbums.csv"

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv(filenamepath)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [ ]:
#access column "length"
x = df[['Length']] #with this we create a dataframe called x with the "Length" column information
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [ ]:
type(x)

pandas.core.frame.DataFrame

In [ ]:
#get the column as a series
x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [ ]:
type(x)

pandas.core.series.Series

In [ ]:
#create a dataframe with multiple columns
y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

**As we saw in the videos we can access a datframe value with iloc, df.iloc[row,colum]** <br>
**it is important that row and columns are numbers**

In [ ]:
#access 1st row 1st column
df.iloc[0,0]

'Michael Jackson'

In [ ]:
#access 2nd row 1st column
df.iloc[1,0]

'AC/DC'

**also we can access the location using df.loc, the difference is that here we use the name of the columns**

In [ ]:
#accss 2nd row, 1st columns
df.loc[1,'Artist']

'AC/DC'

In [ ]:
#Slicing a dataframe wiht iloc
df.iloc[0:2,0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [ ]:
#slicing a dataframe with loc
df.loc[0:2,'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [ ]:
#Exercise on lab

# Write your code below and press Shift+Enter to execute
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [ ]:
# Write your code below and press Shift+Enter to execute
df.iloc[1, 2]

1980

Use the following list to convert the dataframe index df to characters and assign it to df_new; find the element corresponding to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'

In [ ]:
new_index = ['a','b','c','d','e','f','g','h']
df_new =df
df_new.index = new_index #this is to replace te indes 0,1,2... with a,b,c,d
df_new.loc['a', 'Artist']

'Michael Jackson'

In [ ]:
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

# Progress until module 4
![Progress.PNG]()

#MODULE 5