<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-rafaelsangarcia/blob/main/PythonIBM_A01182780.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON FOR DATA SCIENCE (IBM)
STUDENT: A01182780 RAFAEL SANCHEZ GARCIA

#Module 1

In [2]:
print("Hello Python 101") #print something

Hello Python 101

In [3]:
#Question 1
print("Hello\nWorld!") # with \n jump to a new line

Hello
World!

In [5]:
#Question 2
# print('Hello World!')

#Module 1 - Types

In [4]:
#Question 2
bool(1)

True

#Moduel 1 - Expressions and Variables

 with "//" the division will be by integer, and with one "/" is float

In [6]:
# I already know how to use variables and expressions

#Module 1 - String Operators

You can use single or double quotes. string can be access by index, it is works as a array too

In [10]:
Name= "Michael Jackson"
print(Name)
print("Name[0] = " ,Name[0])
print("Name[0] = " ,Name[6])
print("Name[0] = " ,Name[13])

Michael Jackson
Name[0] =  M
Name[0] =  l
Name[0] =  o

In [11]:
#index could be also negative
print("Name[0] = " ,Name[-15])
print("Name[0] = " ,Name[-7])
print("Name[0] = " ,Name[-1])

Name[0] =  M
Name[0] =  J
Name[0] =  n

In [12]:
#slicing
Name[0:4]

'Mich'

In [14]:
#stride
Name[::2] #it will select every second variable

'McalJcsn'

In [17]:
#stride with slicing
Name[0:5:2] # 0 index is start, 5 index is finish, 2 steps

'Mca'

In [18]:
#Question 1
Numbers = "0123456"
Numbers[::2] #get the even elements

'0246'

In [20]:
#Question 2
"0123456".find('1') #it is 1 because the '1' is on index 1

1

#Module 1 - Review Questions

In [21]:
3 + 2 * 2

7

In [22]:
name = 'Lizz'
print(name[0:2])

Li

In [23]:
var = '01234567'
print(var[::2])

0246

In [24]:
'1'+'2'

'12'

In [25]:
myvar = 'hello'
myvar.upper()

'HELLO'

#Module 2 - List and Tuples

**Tuples** are an ordered sequence, this are written as comma-separated elements within parentesis.

Tuple can hold any data type, however the type of tuple is tuple. It can be accessed via index

**Tuple are Immutable, that is means it can not be changed**

In [30]:
Ratings=(10,9,6,5,10,8,9,6,2)
Tuple1 = ("disco",10,1.2) #strig, int, float
print(Tuple1[0]) # accessed by index
Tuple2 = Tuple1 + ("hard rock",10)

disco

In [41]:
#Slicing tuple
Tuple2[0:3]

('disco', 10, 1.2)

In [40]:
#Nesting, is having tuple inside tuple
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
print(NT[2])
print(NT[2][1])
print(NT[2][1][0]) #it is like a tree

('pop', 'rock')
rock
r

**List** It is represent with [ ] square brackets, the difference between tupple is ().
The list is mutable, that is means we can change values.
It can include different types of values. Can be accessed by index, similar as tuples

In [43]:
L = ['Michael Jackson', 10.1, 1982]
print(L)
L.extend(["pop",10]) #with extend we concatenate at the end the new list
print(L)

['Michael Jackson', 10.1, 1982]
['Michael Jackson', 10.1, 1982, 'pop', 10]

In [44]:
L = ['Michael Jackson', 10.1, 1982]
print(L)
L.append(["pop",10]) #with add the new list as an element
print(L)

['Michael Jackson', 10.1, 1982]
['Michael Jackson', 10.1, 1982, ['pop', 10]]

In [45]:
A=['disco',10,1.2]
print(A)
A[0] = "hard rock"
print(A)

['disco', 10, 1.2]
['hard rock', 10, 1.2]

In [49]:
#Question 1
A=(0,1,2,3)
#A[3] and A[-1]

In [50]:
#Question 2
B=["a","b","c"]
B[1:]

['b', 'c']

#Module 2 - Sets
The difference with list and tuples is that sets are unordered. <br>
**Sets only have unique elements** <br>
To define with need {}

In [52]:
#creating a set
album_list = ['Michael Jackson','Thriller','Thriller',1982]
print(album_list)
album_set = set(album_list)
print(album_set)
#We can see that set just have unique values, we can use this as distinct

['Michael Jackson', 'Thriller', 'Thriller', 1982]
{'Thriller', 'Michael Jackson', 1982}

In [55]:
A={'Thriller','Black in Black', "AC/DC"}
print(A)
A.add("NSYNC")
print(A)
A.add("NSYNC") #it doesnt add becuase it is already in the set
print(A)
A.remove("NSYNC")
print(A)

{'AC/DC', 'Black in Black', 'Thriller'}
{'AC/DC', 'Black in Black', 'Thriller', 'NSYNC'}
{'AC/DC', 'Black in Black', 'Thriller', 'NSYNC'}
{'AC/DC', 'Black in Black', 'Thriller'}

In [56]:
"AC/DC" in A #to check if "AC/DC" exist in the set A

True

In [61]:
album_set_1 = {'AC/DC', 'Black in Black', 'Thriller'}
album_set_2 = {'AC/DC', 'Black in Black', 'The Dark Side of the Moon'}
album_set_3 = album_set_1 & album_set_2
print(album_set_3) # it is just show the interesections

{'AC/DC', 'Black in Black'}

In [64]:
album_set_1.union(album_set_2)

{'AC/DC', 'Black in Black', 'The Dark Side of the Moon', 'Thriller'}

In [65]:
#Question 1
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [66]:
#Question 2
S={'A','B','C'}
U={'A','Z','C'}
S & U

{'A', 'C'}