<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-rafaelsangarcia/blob/main/PythonIBM_A01182780.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON FOR DATA SCIENCE (IBM)
STUDENT: A01182780 RAFAEL SANCHEZ GARCIA

#Module 1

In [1]:
print("Hello Python 101") #print something

Hello Python 101

In [2]:
#Question 1
print("Hello\nWorld!") # with \n jump to a new line

Hello
World!

In [3]:
#Question 2
# print('Hello World!')

#Module 1 - Types

In [4]:
#Question 2
bool(1)

True

#Moduel 1 - Expressions and Variables

 with "//" the division will be by integer, and with one "/" is float

In [5]:
# I already know how to use variables and expressions

#Module 1 - String Operators

You can use single or double quotes. string can be access by index, it is works as a array too

In [6]:
Name= "Michael Jackson"
print(Name)
print("Name[0] = " ,Name[0])
print("Name[0] = " ,Name[6])
print("Name[0] = " ,Name[13])

Michael Jackson
Name[0] =  M
Name[0] =  l
Name[0] =  o

In [7]:
#index could be also negative
print("Name[0] = " ,Name[-15])
print("Name[0] = " ,Name[-7])
print("Name[0] = " ,Name[-1])

Name[0] =  M
Name[0] =  J
Name[0] =  n

In [8]:
#slicing
Name[0:4]

'Mich'

In [9]:
#stride
Name[::2] #it will select every second variable

'McalJcsn'

In [10]:
#stride with slicing
Name[0:5:2] # 0 index is start, 5 index is finish, 2 steps

'Mca'

In [11]:
#Question 1
Numbers = "0123456"
Numbers[::2] #get the even elements

'0246'

In [12]:
#Question 2
"0123456".find('1') #it is 1 because the '1' is on index 1

1

#Module 1 - Review Questions

In [13]:
3 + 2 * 2

7

In [14]:
name = 'Lizz'
print(name[0:2])

Li

In [15]:
var = '01234567'
print(var[::2])

0246

In [16]:
'1'+'2'

'12'

In [17]:
myvar = 'hello'
myvar.upper()

'HELLO'

#Module 2 - List and Tuples

**Tuples** are an ordered sequence, this are written as comma-separated elements within parentesis.

Tuple can hold any data type, however the type of tuple is tuple. It can be accessed via index

**Tuple are Immutable, that is means it can not be changed**

In [18]:
Ratings=(10,9,6,5,10,8,9,6,2)
Tuple1 = ("disco",10,1.2) #strig, int, float
print(Tuple1[0]) # accessed by index
Tuple2 = Tuple1 + ("hard rock",10)

disco

In [19]:
#Slicing tuple
Tuple2[0:3]

('disco', 10, 1.2)

In [20]:
#Nesting, is having tuple inside tuple
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
print(NT[2])
print(NT[2][1])
print(NT[2][1][0]) #it is like a tree

('pop', 'rock')
rock
r

**List** It is represent with [ ] square brackets, the difference between tupple is ().
The list is mutable, that is means we can change values.
It can include different types of values. Can be accessed by index, similar as tuples

In [21]:
L = ['Michael Jackson', 10.1, 1982]
print(L)
L.extend(["pop",10]) #with extend we concatenate at the end the new list
print(L)

['Michael Jackson', 10.1, 1982]
['Michael Jackson', 10.1, 1982, 'pop', 10]

In [22]:
L = ['Michael Jackson', 10.1, 1982]
print(L)
L.append(["pop",10]) #with add the new list as an element
print(L)

['Michael Jackson', 10.1, 1982]
['Michael Jackson', 10.1, 1982, ['pop', 10]]

In [23]:
A=['disco',10,1.2]
print(A)
A[0] = "hard rock"
print(A)

['disco', 10, 1.2]
['hard rock', 10, 1.2]

In [24]:
#Question 1
A=(0,1,2,3)
#A[3] and A[-1]

In [25]:
#Question 2
B=["a","b","c"]
B[1:]

['b', 'c']

#Module 2 - Sets
The difference with list and tuples is that sets are unordered. <br>
**Sets only have unique elements** <br>
To define with need {}

In [26]:
#creating a set
album_list = ['Michael Jackson','Thriller','Thriller',1982]
print(album_list)
album_set = set(album_list)
print(album_set)
#We can see that set just have unique values, we can use this as distinct

['Michael Jackson', 'Thriller', 'Thriller', 1982]
{'Michael Jackson', 'Thriller', 1982}

In [27]:
A={'Thriller','Black in Black', "AC/DC"}
print(A)
A.add("NSYNC")
print(A)
A.add("NSYNC") #it doesnt add becuase it is already in the set
print(A)
A.remove("NSYNC")
print(A)

{'AC/DC', 'Thriller', 'Black in Black'}
{'NSYNC', 'AC/DC', 'Thriller', 'Black in Black'}
{'NSYNC', 'AC/DC', 'Thriller', 'Black in Black'}
{'AC/DC', 'Thriller', 'Black in Black'}

In [28]:
"AC/DC" in A #to check if "AC/DC" exist in the set A

True

In [29]:
album_set_1 = {'AC/DC', 'Black in Black', 'Thriller'}
album_set_2 = {'AC/DC', 'Black in Black', 'The Dark Side of the Moon'}
album_set_3 = album_set_1 & album_set_2
print(album_set_3) # it is just show the interesections

{'AC/DC', 'Black in Black'}

In [30]:
album_set_1.union(album_set_2)

{'AC/DC', 'Black in Black', 'The Dark Side of the Moon', 'Thriller'}

In [31]:
#Question 1
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [32]:
#Question 2
S={'A','B','C'}
U={'A','Z','C'}
S & U

{'A', 'C'}

#Module 2 - Dictionaries <br>
It has Keys and Elements/Values <br>
**Keys** is an index by label most of the time are characters<br>
To create dictionaries we use {}<br>
The keys have to be **inmutable and unique**<br>
The values can be **inmutable, mutable and duplicates**<br>
Each key and value pair is separate by a comma
{**"key1"**:1,**"key2"**:"2",**"key3"**:[3,3,3].....}

In [33]:
#Question 1
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [34]:
#Question 2
D = {'a':0,'b':1,'c':2}
D['b']

1

#Module 2 - Review Questions

In [35]:
#Question 1
A = ('a','b','c')
A[0]

'a'

In [36]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

#Module 3 - Conditions and Branching
Comparison operator
**== <,>,<=,>=,!=** <br>
Branching are if statements

In [37]:
#sintaxis if else
Age = 17
if(Age>18):
  print("you can enter")
else:
  print("go see meat loaf")
print("move on")

go see meat loaf
move on

In [38]:
#Question 1
i = 1 #-1,1000
i!=0

True

#Module 3 - loops

In [39]:
range(10,15) #for python2, on python 3 we need loops

range(10, 15)

In [40]:
squares=["red","yellow","green","purple","blue"]
print(squares)
for i in range(0,5):
    squares[i]="white"

print (squares)

['red', 'yellow', 'green', 'purple', 'blue']
['white', 'white', 'white', 'white', 'white']

In [41]:
A=[3,4,5]

for a in A:
  print(a)

3
4
5

In [42]:
x=3
y=1
while(y!=x):
  print(y)
  y=y+1

1
2

#Module 3 - Functions
Just focus on what the function do, not on how do

In [43]:
def add1(a):
  b=a+1
  return b

add1(5)

6

#Module 3 - Objects and Clases

Object has a type<br>
**CLASS** it has data attributes and methods

In [44]:
#init is the constructor
class Circle(object):
  def __init__(self,radius,color):
    self.radius = radius;
    self.color = color;

class Rectangle(object):
  def __init__(self,color,height,width):
    self.height=height;
    self.width=width;
    self.color=color;

In [45]:
RedCircle = Circle(10,"red")
RedCircle.color
RedCircle.color="blue"
RedCircle.color
BlueCircle = Circle(color="BLUE",radius=14)
BlueCircle.color

'BLUE'

#Module 3 - Review Questions

In [46]:
#Question 1,2,3,4,5
#I dont need coding, do it in the webpage

# Module 4 - Working with Data in Python

File1 = open("/resources/data/Example2.txt","w") <br> if is w is for write <br>
File1.name - give the name<br>
File1.mode -  give w, r for writing or read<br>
File1.close()<br>

It is recommend to use **with**, because automatically close the file
<br>
fil1.readline() for read each line. if we put inside a number is to read number of characters

For writing we need to put **file1.write("text to write")**,<br>

# Module 4 - Loading data with pandas

In [54]:
import pandas as pd
csv_path='Standard Videos.csv'
df=pd.read_csv(csv_path)

df.head() # to see the first 5 rows of the data

,ID,Site,Dept.Type,Job Title,Video Link,Created By,Created,Modified By,Modified
0,1,Carrollton,DAPEC,PACKER,https://web.microsoftstream.com/video/2c5c33f7...,"Barraza, Luis",7/5/2021 10:47 PM,"Barraza, Luis",7/19/2021 11:34 PM
1,7,ARCADIA,LIVE RECEIVING,HANGER - LIVE,https://web.microsoftstream.com/video/fcbf2847...,"Barraza, Luis",9/6/2021 12:21 PM,"Barraza, Luis",9/6/2021 12:21 PM
2,8,ARCADIA,CHILLER REHANG,REHANGER - CHILLER,https://web.microsoftstream.com/video/8e061752...,"Barraza, Luis",9/6/2021 12:23 PM,"Barraza, Luis",9/6/2021 12:23 PM
3,9,ARCADIA,LIVE RECEIVING,OPERATOR - DRAWER,https://web.microsoftstream.com/video/b5f0261a...,"Barraza, Luis",9/6/2021 12:38 PM,"Barraza, Luis",9/6/2021 5:21 PM
4,10,ARCADIA,CHILLER REHANG,OPERATOR - SAW,https://web.microsoftstream.com/video/f29bd804...,"Barraza, Luis",9/6/2021 12:50 PM,"Barraza, Luis",9/6/2021 12:50 PM

In [58]:
#we can create a datafram out of the dictionary. A dataframe has columns and rows
songs = {'Album': ['Thriller back','back in black'], 'Released': [1982,1980], 'Length': ['00:42:19','00:42:11']} 
songs_frame = pd.DataFrame(songs) # take the dictionay inside pd.DataFrame(##)
songs_frame.head()

           Album  Released    Length
0  Thriller back      1982  00:42:19
1  back in black      1980  00:42:11

In [61]:
#we can create new data frame from a previous data frame, it is important to use [[]] double
x = songs_frame[['Length']]
x.head()

     Length
0  00:42:19
1  00:42:11

In [76]:
# we can include multiple columns
y = songs_frame[['Album','Length']]
y.head()

           Album    Length
0  Thriller back  00:42:19
1  back in black  00:42:11

In [99]:
#to access to an element you can use the iloc, ix is deprecated
songs_frame.iloc[0,0]
songs_frame.loc[0,'Album'] #with strings

'Thriller back'

In [100]:
#question 1
#find the second row and first column
df.iloc[1,0]

7

In [ ]:
#question2.
#answered in the quiz

#Module 4 - Working with and savings data with pandas
with unique method you can distinct the values<br>

In [102]:
df['Site'].unique()

array(['Carrollton', 'ARCADIA', 'SUMTER', 'ENTERPRISE', 'MARSHVILLE',
       'BROADWAY', 'NATCHITOCHES', 'MOOREFIELD', 'ELLIJAY', 'LIVE OAK'],
      dtype=object)

In [111]:
df1=df[df['ID']<15] #the inside gives you trues and false, and with the second just assigned the trues
df1

,ID,Site,Dept.Type,Job Title,Video Link,Created By,Created,Modified By,Modified
0,1,Carrollton,DAPEC,PACKER,https://web.microsoftstream.com/video/2c5c33f7...,"Barraza, Luis",7/5/2021 10:47 PM,"Barraza, Luis",7/19/2021 11:34 PM
1,7,ARCADIA,LIVE RECEIVING,HANGER - LIVE,https://web.microsoftstream.com/video/fcbf2847...,"Barraza, Luis",9/6/2021 12:21 PM,"Barraza, Luis",9/6/2021 12:21 PM
2,8,ARCADIA,CHILLER REHANG,REHANGER - CHILLER,https://web.microsoftstream.com/video/8e061752...,"Barraza, Luis",9/6/2021 12:23 PM,"Barraza, Luis",9/6/2021 12:23 PM
3,9,ARCADIA,LIVE RECEIVING,OPERATOR - DRAWER,https://web.microsoftstream.com/video/b5f0261a...,"Barraza, Luis",9/6/2021 12:38 PM,"Barraza, Luis",9/6/2021 5:21 PM
4,10,ARCADIA,CHILLER REHANG,OPERATOR - SAW,https://web.microsoftstream.com/video/f29bd804...,"Barraza, Luis",9/6/2021 12:50 PM,"Barraza, Luis",9/6/2021 12:50 PM
5,12,SUMTER,LIVE RECEIVING,HANGER - LIVE,https://web.microsoftstream.com/video/3ed02be0...,"Barraza, Luis",9/7/2021 11:15 AM,"Barraza, Luis",9/7/2021 11:15 AM
6,13,SUMTER,EVISCERATION,HELPER - INSPECTOR,https://web.microsoftstream.com/video/1e8ff58f...,"Barraza, Luis",9/7/2021 11:16 AM,"Barraza, Luis",9/7/2021 11:16 AM

In [112]:
df1.to_csv('Items ID less 15') #to export the data frame to a csv

In [115]:
#question1
import pandas as pd
df=pd.DataFrame({'a': [1,2,1], 'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [116]:
#Module 4. Review questions
with open('Standard Videos.csv','r') as file1:
  FileContent = file1.readlines()
  print(FileContent)

['ID,Site,Dept.Type,Job Title,Video Link,Created By,Created,Modified By,Modified\n', '"1","Carrollton","DAPEC","PACKER","https://web.microsoftstream.com/video/2c5c33f7-a480-4881-b1b8-ebdef3c64644","Barraza, Luis","7/5/2021 10:47 PM","Barraza, Luis","7/19/2021 11:34 PM"\n', '"7","ARCADIA","LIVE RECEIVING","HANGER - LIVE","https://web.microsoftstream.com/video/fcbf2847-0261-462a-a59b-2d7b29203234?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","9/6/2021 12:21 PM","Barraza, Luis","9/6/2021 12:21 PM"\n', '"8","ARCADIA","CHILLER REHANG","REHANGER - CHILLER","https://web.microsoftstream.com/video/8e061752-cf34-4a11-8f4a-68fd813ad631?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","9/6/2021 12:23 PM","Barraza, Luis","9/6/2021 12:23 PM"\n', '"9","ARCADIA","LIVE RECEIVING","OPERATOR - DRAWER","https://web.microsoftstream.com/video/b5f0261a-eef7-4dda-bc52-a25e6c247606?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","9/6/2021 12:38 PM","Barraza, Luis","9/6/2021 5:21 PM"\n', '"10","ARCADIA","CHILLER REHANG","OPERATOR - SAW","https://web.microsoftstream.com/video/f29bd804-18eb-4fc7-9f91-d7ac6045f3ae?list=studio","Barraza, Luis","9/6/2021 12:50 PM","Barraza, Luis","9/6/2021 12:50 PM"\n', '"12","SUMTER","LIVE RECEIVING","HANGER - LIVE","https://web.microsoftstream.com/video/3ed02be0-b235-46b7-9c6d-dddb42572091?channelId=53c00208-0a28-4c87-9070-84b8c3776d52","Barraza, Luis","9/7/2021 11:15 AM","Barraza, Luis","9/7/2021 11:15 AM"\n', '"13","SUMTER","EVISCERATION","HELPER - INSPECTOR","https://web.microsoftstream.com/video/1e8ff58f-603d-4658-8de7-e5dfd64f83c0?channelId=53c00208-0a28-4c87-9070-84b8c3776d52","Barraza, Luis","9/7/2021 11:16 AM","Barraza, Luis","9/7/2021 11:16 AM"\n', '"15","ENTERPRISE","DELI WOG","LOADER - LINE","https://web.microsoftstream.com/video/770e041d-9062-4ecf-a9f9-47152b34bfaf?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","11/24/2021 9:06 AM","Barraza, Luis","11/24/2021 9:06 AM"\n', '"16","ENTERPRISE","DELI WOG","STACKER","https://web.microsoftstream.com/video/a5683730-a80a-4d59-8b10-2343c3587463?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","11/24/2021 9:13 AM","Barraza, Luis","11/24/2021 9:13 AM"\n', '"17","ENTERPRISE","DELI WOG","TUCKER - WING","https://web.microsoftstream.com/video/b98bba2e-5d8b-4ef0-902b-ee19c6a47173?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","11/29/2021 11:50 AM","Barraza, Luis","11/29/2021 11:50 AM"\n', '"18","ENTERPRISE","DELI WOG","SIZER OPERATOR","https://web.microsoftstream.com/video/303fec5b-2398-4af1-adda-d90769ed7c0b?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Barraza, Luis","11/29/2021 11:51 AM","Barraza, Luis","11/29/2021 11:51 AM"\n', '"20","MARSHVILLE","THIGH DEBONE","TRIMMER - THIGH","https://web.microsoftstream.com/video/5cee8a65-fb2f-4c14-8385-c74c54db729a?list=studio","Kuller, Stephen","2/3/2022 12:03 PM","Kuller, Stephen","2/3/2022 12:03 PM"\n', '"21","BROADWAY","MARINATION","OPERATOR-CVP","https://web.microsoftstream.com/video/5e3f6e78-979b-4826-9604-3126386b7a1a?list=studio","Kuller, Stephen","2/4/2022 6:58 AM","Kuller, Stephen","2/4/2022 6:58 AM"\n', '"22","NATCHITOCHES","DELI WOG","TRUSSER","https://web.microsoftstream.com/video/a0a9c7f7-9de9-4d8c-ba2a-d8e05bc23fba?channelId=d07f8c1f-fc74-4327-98c3-e81e640507bc","Diaz Flores Granados, Jaime","2/4/2022 10:55 AM","Diaz Flores Granados, Jaime","2/4/2022 10:55 AM"\n', '"23","NATCHITOCHES","DELI WOG","LOADER - CONE","https://web.microsoftstream.com/video/7b861b73-57bb-4217-8f0d-8cad7c5bc09c?list=studio","Diaz Flores Granados, Jaime","2/4/2022 11:39 AM","Diaz Flores Granados, Jaime","2/4/2022 11:39 AM"\n', '"24","NATCHITOCHES","DELI WOG","OPERATOR - CVP","https://web.microsoftstream.com/video/8de15582-449c-435d-a5ff-a844bcb243af?list=studio","Diaz Flores Granados, Jaime","2/4/2022 11:51 AM","Diaz Flores Granados, Jaime","2/4/2022 11:51 AM"\n', '"26","ARCADIA","DAPEC","PACKER","https://web.microsoftstream.com/video/4df68bad-bcbc-410d-9592-1e4516086da5?list=studio","Barraza, Luis","2/21/2022 12:52 PM","Barraza, Luis","2/21/2022 12:52 PM"\n', '"27","MOOREFIELD","DAPEC","PACKER","https://web.microsoftstream.com/video/0f16b23c-e269-49e6-a73f-8e41ecbaba25?list=studio","Diaz Flores Granados, Jaime","2/21/2022 12:54 PM","Diaz Flores Granados, Jaime","2/21/2022 12:54 PM"\n', '"28","NATCHITOCHES","DAPEC","PACKER","https://web.microsoftstream.com/video/263edc8f-8d02-4d93-ba33-a3aac2e50a50?list=studio","Diaz Flores Granados, Jaime","2/21/2022 1:18 PM","Diaz Flores Granados, Jaime","2/21/2022 1:18 PM"\n', '"29","ARCADIA","LIVE RECEIVING","OPERATOR - FORKLIFT","https://web.microsoftstream.com/video/6ef64e79-75f6-4ade-ab4b-76388b5b4df3?list=studio","Diaz Flores Granados, Jaime","2/24/2022 9:41 AM","Diaz Flores Granados, Jaime","2/24/2022 9:41 AM"\n', '"30","ARCADIA","RUB BIRDS","OPERATOR - BAND SEALER","https://web.microsoftstream.com/video/f1225497-21a0-4eea-b48d-28311f94a286?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:12 AM","Diaz Flores Granados, Jaime","2/24/2022 10:12 AM"\n', '"31","ARCADIA","RUB BIRDS","OPERATOR - BAGGER (INNER)","https://web.microsoftstream.com/video/b1225cb1-dfed-42c8-ad60-091e2e2db839?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:15 AM","Diaz Flores Granados, Jaime","2/24/2022 10:15 AM"\n', '"32","ARCADIA","RUB BIRDS","OPERATOR - BAGGER (OUTER)","https://web.microsoftstream.com/video/4899870a-af78-4600-aee2-17ccbb025066?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:21 AM","Diaz Flores Granados, Jaime","2/24/2022 10:21 AM"\n', '"33","ARCADIA","RUB BIRDS","OPERATOR - TIPER TIE","https://web.microsoftstream.com/video/629eb3c8-d2b9-463a-8706-12b6eb6287bc?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:33 AM","Diaz Flores Granados, Jaime","2/24/2022 10:33 AM"\n', '"34","ARCADIA","CORR VAC","OPERATOR - CVP","https://web.microsoftstream.com/video/6fa6a314-12f1-4e33-b69c-af221c3005e0?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:47 AM","Diaz Flores Granados, Jaime","2/24/2022 10:47 AM"\n', '"35","ARCADIA","DAPEC","OPERATOR - SCALE","https://web.microsoftstream.com/video/6fa6a314-12f1-4e33-b69c-af221c3005e0?list=studio","Diaz Flores Granados, Jaime","2/24/2022 10:48 AM","Diaz Flores Granados, Jaime","2/24/2022 10:48 AM"\n', '"36","ENTERPRISE","DAPEC","PACKER","https://web.microsoftstream.com/video/c3714123-39b4-4c1e-bce3-a8ba7c6b5a05?list=studio","Diaz Flores Granados, Jaime","3/2/2022 3:17 PM","Diaz Flores Granados, Jaime","3/2/2022 3:17 PM"\n', '"37","ARCADIA","DAPEC","REHANG - DAPEC","https://web.microsoftstream.com/video/b9915283-f9cf-463e-bbff-70d651af7e81?list=studio","Diaz Flores Granados, Jaime","3/7/2022 3:34 PM","Diaz Flores Granados, Jaime","3/7/2022 3:34 PM"\n', '"39","ELLIJAY","DAPEC","PACKER","https://web.microsoftstream.com/video/7f273aaf-35d0-4b88-8c16-2894e61e4633","Cruz Gonzalez, Isaac","3/18/2022 12:44 PM","Cruz Gonzalez, Isaac","3/18/2022 12:44 PM"\n', '"40","LIVE OAK","DEBONE PACKOUT","PACKER - TENDER","https://web.microsoftstream.com/video/aa2f14f9-54eb-4abc-8d18-376a61b0dce7\n', '\n', 'https://web.microsoftstream.com/video/c52dbd66-7cc1-47f5-b501-ad0d132f37a8","Santiago Rosas, Ramiro","3/21/2022 11:26 AM","Santiago Rosas, Ramiro","3/21/2022 11:51 AM"\n', '"41","LIVE OAK","DEBONE PACKOUT","PACKER - BREAST","https://web.microsoftstream.com/video/bc05eb10-6428-4c28-acb6-b4f1108eed8c","Santiago Rosas, Ramiro","3/21/2022 11:58 AM","Santiago Rosas, Ramiro","3/21/2022 11:58 AM"\n', '"42","LIVE OAK","DEBONE PACKOUT","LOADER - WINGS","https://web.microsoftstream.com/video/89a90793-2726-4f9c-b07a-72dc23b6cd96","Santiago Rosas, Ramiro","3/21/2022 12:55 PM","Santiago Rosas, Ramiro","3/21/2022 12:55 PM"\n', '"43","LIVE OAK","DEBONE PACKOUT","PACKER","https://web.microsoftstream.com/video/2da61c04-ba2a-43c4-96db-02f0c3167d32","Santiago Rosas, Ramiro","3/21/2022 12:56 PM","Santiago Rosas, Ramiro","3/21/2022 12:56 PM"\n', '"44","LIVE OAK","DEBONE PACKOUT","PACKER - WINGS","https://web.microsoftstream.com/video/a339cff4-1cc1-4b50-818e-7ff3a2397f2b","Santiago Rosas, Ramiro","3/21/2022 12:57 PM","Santiago Rosas, Ramiro","3/21/2022 12:57 PM"\n', '"45","LIVE OAK","DEBONE","TRIMMER - BREAST","https://web.microsoftstream.com/video/3f2ef0e2-b8ee-43dc-8f9b-f2e4f7c078b4","Santiago Rosas, Ramiro","4/29/2022 7:51 AM","Santiago Rosas, Ramiro","4/29/2022 7:55 AM"\n', '"46","LIVE OAK","DEBONE","LOADER","https://web.microsoftstream.com/video/3ed83328-4254-43a2-8129-a34e0d0a50e3","Santiago Rosas, Ramiro","4/29/2022 8:26 AM","Santiago Rosas, Ramiro","4/29/2022 8:26 AM"\n']